// <div className="container-wrapper">
// <div className="container-navbar">
//     <h1>Silent Auction</h1>

//     <nav className="navbar">
//      <Route path="/"></Route>
//      <button><Link to="/">Home</Link></button>
//      <button><Link to="/create">Create Auction</Link></button>
//      <button>Sign Up</button>
//      <button>Login</button>
//     </nav>
// </div>
// </div>

.container-wrapper {
  display: flex;
  padding: 1.2rem;
  background-color: grey;
  justify-content: space-between;

  // @media query

  .container-navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3px;
    align-items: center;
    // border: solid red;

    @media @mobile {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    h1 {
      padding: 2px;
      width: 30%;
      font-size: 2rem;

      @media @tablet {
        width: 40%;
        font-size: 2.2rem;
      }

      @media @mobile {
        width: 100%;
        text-align: center;
        padding: 3%;
        font-size: 4rem;
        line-height: 2rem;
      }
    }

    .navbar {
      display: flex;
      //   border: solid yellow;
      width: 100%;
      justify-content: flex-end;

      @media @mobile {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        padding: 0.5% 0;
        margin: 0 2%;
        font-size: 1.3rem;
        border: 1px solid orange;
        border-radius: 4px;
        background-color: orange;

        @media @tablet {
          font-size: 1.3rem;
          width: 30%;
          padding: 1%;
          margin: 0 0.5%;
        }

        @media @mobile {
          width: 85%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 2%;
          padding: 2%;
          font-size: 2rem;
        }

        a {
          text-decoration: none;
          color: black;
        }
      }

      form {
        display: flex;
        align-items: center;
        width: 30%;
        margin: 0 2%;
        // border: solid purple;
        justify-content: space-evenly;

        @media @tablet {
          width: 80%;
          margin: 0 1%;
        }

        @media @mobile {
          display: block;
          width: 100%;
          margin: 2%;
          text-align: center;
        }

        .error {
          color: black;
          font-size: 1.3rem;
          text-align: center;
          padding: 2%;
          color: darkred;
          font-weight: bold;
          text-transform: uppercase;

          @media @tablet {
            font-size: 1rem;
            padding: 1%;
          }

          @media @mobile {
            font-size: 2rem;
          }
        }

        input {
          margin: 0 2%;
          height: 2.3rem;
          width: 90%;
          border-radius: 1px;
          border: gray;

          @media @tablet {
            height: 3.5rem;
            border-radius: 3px;
          }

          @media @mobile {
            width: 85%;
            margin: 2%;
          }
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          display: flex;
          justify-content: space-evenly;
          width: 20%;
          height: 2.5rem;
          font-size: 1rem;
          border: 1px solid lightgray;
          border-radius: 1px;
          background-color: white;

          @media @tablet {
            font-size: 1.2rem;
            width: 30%;
            height: 3rem;
          }

          @media @mobile {
            display: block;
            width: 50%;
            margin: 2% auto;
            background-color: darkgray;
            font-size: 2rem;
            padding: 1%;
          }
        }
      }
    }
  }
}
