// <div className="container-wrapper">
// <div className="container-navbar">
//     <h1>Silent Auction</h1>

//     <nav className="navbar">
//      <Route path="/"></Route>
//      <button><Link to="/">Home</Link></button>
//      <button><Link to="/create">Create Auction</Link></button>
//      <button>Sign Up</button>
//      <button>Login</button>
//     </nav>
// </div>
// </div>

.container-wrapper {
  display: flex;
  padding: 1.2rem;
  background-color: grey;
  justify-content: space-between;

  // @media query

  .container-navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3px;
    align-items: center;
    border: solid red;

    h1 {
      padding: 2px;
      width: 30%;
      font-size: 2rem;
      
    }

    .navbar {
      display: flex;
    //   border: solid yellow;
      width: 100%;
      justify-content: flex-end;

      button {
        display: flex;
        justify-content: center;
        align-items: center;;
        width: 10%;
        padding: .5% 0;
        margin: 0 2%;
        font-size: 1.3rem;
        border: 1px solid orange;
        border-radius: 4px;
        background-color: orange;

        a {
          text-decoration: none;
          color: black;
        }
      }

      form {
        display: flex;
        align-items: center;
        width: 30%;
        margin: 0 2%;
        // border: solid purple;
        justify-content: space-evenly;

        .error {
            color: black;
            font-size: 1.3rem;
            text-align: center;
            padding: 2%;
        }

        input {
         
          margin: 0 2%;
          height: 2.3rem;
          width: 90%;
          border-radius: 1px;
          border: gray;
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          display: flex;
          justify-content: space-evenly;
          width: 20%;
          height: 2.5rem;
          font-size: 1rem;
          border: 1px solid lightgray;
          border-radius: 1px;
          background-color: white;
        }
      }
    }
  }
}
